nav {
    display: flex;
    justify-content: space-between;
    height: 85px;
    width: 100%;
    z-index: 99;
    align-items: center;
    .nav__logo {
        width: 15%;
        img {
            height: 65px;
        }
    }
    .nav__menu-pages {
        width: 40%;
        ul {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            text-transform: uppercase;
            font-size: 13.5px;

            .show__subnav-home {
                position: relative;
                &:hover {
                    .subnav__home {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .subnav__home {
                    position: absolute;
                    transform: translateY(70px);
                    transition: all .4s ease;
                    transition-delay: .1s;
                    opacity: 0;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    width: 250px;
                    margin-top: 20px;
                    visibility: hidden;
                    ul {
                        flex-direction: column;

                        li {
                            padding-top: 15px;
                            &:nth-child(4) {
                                padding-bottom: 15px;
                            }
    
                            a {

                                color: #7e7e7e;
                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                    
                }
            }

            .show__subnav-pages {
                position: relative;
                &:hover {
                    .submenu__pages {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .submenu__pages {
                    position: absolute;
                    transform: translateY(70px);
                    transition: all .4s ease;
                    transition-delay: .1s;
                    opacity: 0;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    width: 250px;
                    margin-top: 20px;
                    visibility: hidden;
                    ul {
                        flex-direction: column;

                        li {
                            padding-top: 15px;
                            &:nth-child(5) {
                                padding-bottom: 15px;
                            }
    
                            a {

                                color: #7e7e7e;
                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                    
                }
            }

        }
    }
    .nav__items {
        width: 15%;
        text-align: right;

        i {
            font-size: 20px;
            margin-left: 15px;
            &:hover {
                color: red;
                cursor: pointer;
            }
        }
    }
}